---

---

<section id="home" class="home">
  <div class="home_container">
    <div class="home_content">
      <h1 class="main_title">Skibidi Deck Generator</h1>
      <div class="primary_button_group">
        <a href="/deckGeneration" class="btn btn--primary">Meta Decks</a>
        <a href="/warDeckGeneration" class="btn btn--primary">War Decks</a>
      </div>
    </div>
  </div>
</section>
